<div ng-controller="ContrSigCondController" class="condition panel panel-default">
    <div class="condition panel-heading">
        <i class="fa pull-right" ng-class="collapsed ? 'fa-chevron-down' : 'fa-chevron-up'"
           ng-click="collapsed = !collapsed"></i>

        <h3 class="panel-title">
            Signature Confirmation <span ng-show="condition.name.length > 0">{{'(' + condition.name + ')'}}</span>
        </h3>

    </div>
    <div collapse="collapsed">
        <div class="panel-body">
            <label for="name">Name:</label>
            <input id="name" type="text" class="form-control" ng-model="condition.name" disabled>

            <br/>

            <label for="description">Description:</label>
            <input id="description" type="text" class="form-control" ng-model="condition.description" disabled>

            <br/>

            <label for="signatureType">Signed by:</label>
            <input id="signatureType" type="text" class="form-control" ng-model="sigFields[condition.meta.sub_type]" disabled>

            <br/>

            <!-- drop contacts here depending on the sub_type -->
            <div ng-show="condition.meta.sub_type != 'all'">
                <p>Contact signatures (drag from contacts panel):</p>
                <div class="condition-inner" id="ContactPanel" droppable></div>
            </div>

            <h4>Triggers:</h4>

            <!-- triggers are loaded here -->
            <div class="condition-inner" id="TriggerPanel">
            </div>
        </div>

    </div>
</div>