<div ng-controller="ContrContactController" class="contact panel panel-default" draggable>
    <div class="contact panel-heading">
        <i class="fa pull-right" ng-class="collapsed ? 'fa-chevron-down' : 'fa-chevron-up'"
           ng-click="collapsed = !collapsed"></i>

        <h3 class="panel-title">
            {{contact.user.first_name + ' ' + contact.user.last_name}}</span>
        </h3>

    </div>
    <div collapse="collapsed">
        <div class="panel-body">

            <p><b>Name: </b>{{contact.user.first_name}}</p>

            <p><b>Surname: </b>{{contact.user.last_name}}</p>

            <p><b>Username: </b>{{contact.user.username}}</p>

            <p><b>Public key: </b>

                <input type="text" class="form-control" ng-model="contact.user.public_key" disabled />
            </p>

        </div>
    </div>
</div>