<div class="container">

    <div class="row">
        <div class="col-md-6">
            <h2>Contract Designer</h2>
        </div>

        <div class="col-md-6">

        </div>
    </div>

    <br/>

    <div class="row">

        <div class="col-md-2">
        </div>

        <div class="col-md-8">

            <div class="panel panel-default">

                <div class="panel-heading default">
                    <i class="fa fa-2x fa-question-circle"></i>
                    <div class="pull-right"><h3>Features</h3></div>
                </div>

                <div class="panel-body">
                    <p>
                        <b>The Smart Contract Designer</b> is used to create smart
                        contracts in JSON format, for use by our <a href="/docs">Smart Contract API</a>.
                        Features include:
                    </p>

                    <ul>
                        <li><b>Template</b> creation</li>
                        <li><b>Contract</b> creation based on saved templates</li>
                        <li>Contacts required for your contracts are automatically retrieved from your ID-IO profile</li>
                    </ul>
                </div>

            </div>

            <div class="panel panel-default">

                <div class="panel-heading default">
                    <i class="fa fa-2x fa-rocket"></i>
                    <div class="pull-right"><h3>Start here</h3></div>
                </div>

                <div class="panel-body">
                    <ol>
                        <li>Create a template in the <a href="/#/templates/design">Template Designer</a> and save it</li>
                        <li>Choose a saved template from <a href="/#/templates/list">My Templates</a> and then 'create a contract'</li>
                        <li>Complete your contract by completing the empty fields and dragging in your contacts</li>
                        <li>View the resulting JSON output at any time by clicking ''Show JSON' at any point</li>
                    </ol>
                </div>

            </div>
        </div>

        <div class="col-md-2">
        </div>
    </div>
</div>
</div>