


<div class="container">

    <div class="page-header">
        <h1>Accord.ly <small>Agreement Template Designer 0.1 (beta)</small></h1>
    </div>

    <div class="row">
        <div class="col-md-4">

            <accordion close-others="true">
                <accordion-group heading="Inputs ('Conditions')" is-open="true" is-disabled="false">
                    <div class="panel-body" id="Condition">
                        <sms-condition template-id="SmsCond:"></sms-condition>
                        <br/>
                        <signature-condition template-id="SigCond:"></signature-condition>
                    </div>
                </accordion-group>
                <accordion-group is-open="false" heading="Triggers" is-disabled="false">
                    <div class="panel-body" id="Trigger">
                        <webhook-trigger template-id="HookTrig:"></webhook-trigger>
                        <br/>
                        <transaction-trigger template-id="TransTrig:"></transaction-trigger>
                    </div>
                </accordion-group>
                <accordion-group is-open="false" heading="Media" is-disabled="false">
                    <div class="panel-body" id="Media">
                        <!--<media></media>-->
                    </div>
                </accordion-group>
            </accordion>
        </div>
        <div class="col-md-8">
            <div class="contract panel panel-default">
                <!--<div class="panel-heading">-->
                    <!--<h3 class="panel-title">-->
                        <!--Contract template-->
                    <!--</h3>-->
                <!--</div>-->
                <!--<div class="panel-body" id="contractPanel" droppable drop="handleDrop">-->
                <div class="panel-body" id="Contract" droppable>
                    [Drag your conditions here]
                </div>
                <!--<div class="panel-footer">-->
                <!--</div>-->
            </div>
        </div>
    </div>

    <div class="panel-footer">Accord.ly | Infinity-G 2015</div>
</div>