<div class="container">

    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <h2>Login</h2>
        </div>
        <div class="col-md-4">
        </div>
    </div>

    <div class="row">

        <div class="col-md-4">

        </div>

        <div class="col-md-4">
            <div>
                <input id="name" type="text" class="form-control" placeholder="Username" ng-model="userName">
                <br/>

                <input id="description" type="text" class="form-control" placeholder="Password" ng-model="password">
                <br/>

                <button type="button" class="btn btn-success btn-lg pull-right" ng-click="login()">Login</button>

            </div>
        </div>

        <div class="col-md-4"></div>
    </div>

    <br/>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <p>Need a universal identity? <a href="https://id-io-wallet.infinity-g.com">Register on ID-IO</a></p>
        </div>
        <div class="col-md-4"></div>

    </div>
    <!--<div class="row">-->
        <!--<div class="col-md-4"></div>-->
        <!--<div class="col-md-4">-->
            <!--<p>Need to restore your ID-IO wallet? <a href="#/wallet/restore">Restore</a></p>-->
        <!--</div>-->
        <!--<div class="col-md-4"></div>-->
    <!--</div>-->

</div>

