<div ng-controller="TemplSmsCondController" class="condition panel panel-default grabbable" draggable>
    <div class="condition panel-heading">
        <i class="fa pull-right" ng-class="collapsed ? 'fa-chevron-down' : 'fa-chevron-up'"
           ng-click="collapsed = !collapsed"></i>
        <i class="fa fa-remove pull-right" ng-show="dropActive == true" ng-click="remove()"></i>

        <h3 class="panel-title">
            <abbr title="SMS confirmations use shared secret keys for signing">SMS</abbr> Confirmation <span
                ng-show="condition.name.length > 0">{{'(' + condition.name + ')'}}</span>
        </h3>
    </div>
    <div collapse="collapsed">

        <div class="panel-body">
            <input id="name" type="text" class="form-control" placeholder="Name" ng-model="condition.name">
            <br/>

            <input id="description" type="text" class="form-control" placeholder="Description"
                   ng-model="condition.description">
            <br/>

            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="false"
                            ng-click="">Sms received from: <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="(key,value) in smsFields">
                            <a ng-click="fromSelected(key, value)">{{value}}</a>
                        </li>
                    </ul>
                </div>
                <input type="text" class="form-control" aria-label="..." ng-model="smsFields[condition.meta.sub_type]">
            </div>

            <p>Triggers (drag from library panel):</p>

            <div class="condition-inner" id="TriggerPanel" droppable>
            </div>

        </div>

    </div>
</div>