<div class="container">

    <div class="row">
        <div class="col-md-4">
            <h2>Template Designer</h2>

            <accordion close-others="true">
                <accordion-group heading="Inputs" is-open="true" is-disabled="false">
                    <div id="Condition">
                        <templ-sms-cond template-id="SmsCond:"></templ-sms-cond>
                        <!--<br/>-->
                        <templ-sig-cond template-id="SigCond:"></templ-sig-cond>
                    </div>
                </accordion-group>
                <accordion-group is-open="false" heading="Triggers" is-disabled="false">
                    <div id="Trigger">
                        <templ-hook-trig template-id="HookTrig:"></templ-hook-trig>
                        <!--<br/>-->
                        <templ-trans-trig template-id="TransTrig:"></templ-trans-trig>
                    </div>
                </accordion-group>
                <accordion-group is-open="false" heading="Media" is-disabled="false">
                    <div class="panel-body" id="Media">
                        <!--<media></media>-->
                    </div>
                </accordion-group>
            </accordion>
        </div>
        <div class="col-md-8 template">
            <!--<div class="panel-body">-->
            <h3>Create your template</h3>

            <input id="name" type="text" class="form-control" placeholder="Template name" ng-blur="updateText()"
                   ng-model="template.name">
            <br/>
            <input id="description" type="text" class="form-control" placeholder="Template description"
                   ng-blur="updateText()" ng-model="template.description">
            <br/>

            <p>Inputs (drag from library panel):</p>

            <div id="TemplateTarget" class="template-inner" droppable>
            </div>

            <br/>
            <button type="button" class="btn btn-default" ng-click="showJson = !showJson">
                {{showJson ? 'Hide JSON' : 'Show JSON'}}
            </button>
            <button type="button"
                    ng-show="template.name != null &&
                        template.name != '' &&
                        template.description != null &&
                        template.description != '' &&
                        template.conditions.length > 0 &&
                        template.conditions[0].trigger != null"
                    class="btn btn-success btn-lg pull-right" ng-click="saveTemplate()">Save</button>

            <div class="row modelOutput" ng-show="showJson">
                <pre class="stringifiedModel">{{stringifiedModel.json}}</pre>
            </div>

        </div>

        <hr/>
        <!--</div>-->

    </div>

    <!--<div class="row modelOutput" ng-show="showJson">-->
        <!--<div class="col-md-4"></div>-->
        <!--<div class="col-md-8">-->
            <!--<pre class="stringifiedModel">{{stringifiedModel.json}}</pre>-->
        <!--</div>-->
    <!--</div>-->

</div>

