<div class="container">

    <div class="row">
        <div class="col-md-4">
            <h2>Template Designer</h2>

            <accordion close-others="true">
                <accordion-group heading="Inputs" is-open="true" is-disabled="false">
                    <div id="Condition">
                        <sms-condition template-id="SmsCond:"></sms-condition>
                        <!--<br/>-->
                        <signature-condition template-id="SigCond:"></signature-condition>
                    </div>
                </accordion-group>
                <accordion-group is-open="false" heading="Triggers" is-disabled="false">
                    <div id="Trigger">
                        <webhook-trigger template-id="HookTrig:"></webhook-trigger>
                        <!--<br/>-->
                        <transaction-trigger template-id="TransTrig:"></transaction-trigger>
                    </div>
                </accordion-group>
                <accordion-group is-open="false" heading="Media" is-disabled="false">
                    <div class="panel-body" id="Media">
                        <!--<media></media>-->
                    </div>
                </accordion-group>
            </accordion>
        </div>
        <div class="col-md-8 template">
            <!--<div class="panel-body">-->
            <h3>Create your template</h3>

            <input id="name" type="text" class="form-control" placeholder="Template name" ng-blur="updateText()"
                   ng-model="template.name">
            <br/>
            <input id="description" type="text" class="form-control" placeholder="Template description"
                   ng-blur="updateText()" ng-model="template.description">
            <br/>

            <p>Inputs (drag from library panel):</p>

            <div id="TemplateTarget" class="template-inner" droppable>
            </div>

            <br/>
            <button type="button" class="btn btn-default" ng-click="showJson = !showJson">Show JSON</button>
            <button type="button"
                    ng-show="template.name != null &&
                        template.name != '' &&
                        template.description != null &&
                        template.description != '' &&
                        template.conditions.length > 0 &&
                        template.conditions[0].trigger != null"
                    class="btn btn-success btn-lg pull-right" ng-click="saveTemplate()">Save</button>

        </div>

        <hr/>
        <!--</div>-->

    </div>

    <div class="row modelOutput" ng-show="showJson">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            <pre class="stringifiedModel">{{stringifiedModel.json}}</pre>
        </div>
    </div>

</div>

