<div ng-controller="TransTrigDirectiveController" class="trigger panel panel-default grabbable" draggable>
    <div class="trigger panel-heading">
        <i class="fa pull-right" ng-class="collapsed ? 'fa-chevron-down' : 'fa-chevron-up'"
           ng-click="collapsed = !collapsed"></i>
        <i class="fa fa-remove pull-right" ng-show="dropActive == true" ng-click="remove()"></i>

        <h3 class="panel-title">
            Transaction Trigger
        </h3>
    </div>
    <div collapse="collapsed">
        <div class="trigger panel-body">
            <!--<div class="panel-body">-->

            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="false"
                            ng-click="">From: <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="(key,value) in transFields.from">
                            <a ng-click="fromSelected(key, value)">{{value}}</a>
                        </li>
                    </ul>
                </div>
                <input type="text" class="form-control" aria-label="..."
                       ng-model="transFields.from[transaction.meta.from]">
            </div>

            <br/>

            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="false"
                            ng-click="">To: <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="(key,value) in transFields.to">
                            <a ng-click="toSelected(key, value)">{{value}}</a>
                        </li>
                    </ul>
                </div>
                <input type="text" class="form-control" aria-label="..."
                       ng-model="transFields.to[transaction.meta.to]">
            </div>

            <!--</div>-->

            <br/>

            <input id="amount" type="text" class="form-control" placeholder="Amount" ng-model="transaction.amount">

        </div>
    </div>
</div>