<div ng-controller="WebhookTrigDirectiveController" class="panel panel-default" id="webhookTriggerPanel" draggable>
    <div class="panel-heading">
        <remove></remove>
        <h3 class="panel-title">
            Webhook Trigger
        </h3>
        <a ng-click="collapsed = !collapsed">
            (details)
        </a>
    </div>
    <div collapse="collapsed">
        <div class="panel-body" id="webhookTriggerDetailsPanel">
            <label for="url">Url:</label>
            <input id="url" type="text" class="form-control">

            <label for="header">Auth Header:</label>
            <input id="header" type="text" class="form-control">

            <label for="action">Action:</label>
            <input id="action" type="text" class="form-control">


            <label for="payload">Url:</label>
            <input id="payload" type="text" class="form-control">
        </div>
    </div>
</div>