<div ng-controller="WebhookTrigDirectiveController" class="panel panel-default grabbable" draggable>
    <div class="panel-heading">
        <!--<remove ng-show="showRemoveButton"></remove>-->
        <a class='btn btn-default pull-right' ng-show="dropActive == true" ng-click="remove()">Remove</a>

        <h3 class="panel-title">
            Webhook Trigger
        </h3>
        <a ng-click="collapsed = !collapsed">
            (details)
        </a>
    </div>
    <div collapse="collapsed">
        <div class="panel-body" id="webhookTriggerDetailsPanel">

            <input id="url" type="text" class="form-control" placeholder="Url">
            <br/>
            <input id="header" type="text" class="form-control" placeholder="Auth header">
            <br/>
            <input id="action" type="text" class="form-control" placeholder="Action">
            <br/>
            <input id="payload" type="text" class="form-control" placeholder="Payload">
        </div>
    </div>
</div>