.nav, .pagination, .carousel, .panel-title, .panel-heading a { cursor: pointer; }

.grabbable{
    cursor:move;
}

.contract{

}

.contract:after {
    content: "\f1b3";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    font-size: 300px;
    color: lightblue;
    /*top: 50%;*/
    top: 50px;
    left: 50%;
margin-left: -200px;
    /*margin: -300px 0 0 -200px;*/
    z-index: 1;
}

.contract-inner{
    position:relative;
    border-style: dashed;
    padding:10px;
    min-height: 500px;
    background-color: transparent;
    z-index: 2;
}

.condition.panel-default {
    border-color: #245580;
}

.condition.panel-heading {
    background-image: linear-gradient(to bottom, #28a4c9 0%, #245580 100%);
    border-bottom: none;
    /*padding:5px;*/
}

.condition.panel-heading .fa {
    color: white;
    cursor:pointer;
}

.condition h3{
    color: #ffffff;
}

.trigger.panel-default {
    border-color: #FF5839;
}

.trigger.panel-heading {
    background-image: linear-gradient(to bottom, #FF7B63 0%, #FF5839 100%);
    border-bottom: none;
    /*padding:5px;*/
}

.trigger h3{
    color: #ffffff;
}

.trigger.panel-heading .fa {
    color: white;
    cursor:pointer;
}