.nav, .pagination, .carousel, .panel-title, .panel-heading a { cursor: pointer; }

.app{
    margin-top:60px;
    margin-bottom:80px;
}

.container{
    height:100%;
}

.navbar{
    margin-bottom: 0;
}

.panel-body{
    padding:15px 15px 0 15px;
}

.grabbable{
    cursor:move;
}

.contract{
    margin-top:12px;
}

.modal-dialog{
    z-index:2001;
    position:absolute;
    top:30%;
    left:30%;
    right:30%;
}

.modal-backdrop{
    z-index:2000;
    bottom: 0;
    position: fixed;
}

.contract:after {
    content: "\f1b3";
    font-family: FontAwesome;
    position: absolute;
    font-size: 50px;
    color: rgba(239, 239, 239, 1.0);
    top: 205px;
    left: 35px;
    width:100%;
    /*text-align:center;*/
    z-index: -1;
}

.contract-inner{
    position:relative;
    border-style: solid;
    border-width: 1px;
    border-color:#ddd;
    /*border:none;*/
    padding:20px;
    margin-top:10px;
    min-height: 100px;
    /*background-color: rgba(239, 239, 239, 0.4);*/
    z-index: 2;
}

.contract-inner.panel{
 border:none;
}

.condition{
    background-color: rgba(0, 0, 0, 0.1);
}

.condition.panel{
    margin-bottom: 15px;
}

.condition.panel-default {
    border-color: #245580;
}

.condition.panel-heading {
    background-image: linear-gradient(to bottom, #28a4c9 0%, #245580 100%);
    border-bottom: none;
    /*padding:5px;*/
}

.condition.panel-heading .fa {
    color: white;
    cursor:pointer;
}

.condition h3{
    color: #ffffff;
}

.condition p{
    padding: 0;
    margin:10px 10px 0 10px;
}

.condition-inner{
    position: relative;
    min-height:30px;
    /*border-style: dashed;*/
    /*border-width: 3px;*/
    /*border-color:#ffffff;*/
    padding:15px 15px 5px 15px;
    margin:10px 0 15px 0;
    background-color: white;
    /*background-color:rgba(256, 256, 256, 0.5);*/
}

/*.condition-inner p{*/
    /*padding-bottom: 10px;*/
/*}*/

.trigger{
    background-color: rgba(256, 256, 256, 0.5);
}

.trigger.panel{
    margin-bottom: 15px;
}

.trigger.panel-body{
    margin-bottom: 15px;
}

.trigger.panel-default {
    border-color: #FF5839;
}

.trigger.panel-heading {
    background-image: linear-gradient(to bottom, #FF7B63 0%, #FF5839 100%);
    border-bottom: none;
    /*padding:5px;*/
}

.trigger h3{
    color: #ffffff;
}

.trigger.panel-heading .fa {
    color: white;
    cursor:pointer;
}

.modelOutput{
    padding-top:20px;
}

.stringifiedModel{
    overflow: visible;
    /*resize: vertical;*/
    min-height: 150px;
    border: none;
    /*background-color: transparent;*/
}